.footer {
    background-color: var(--footer-bg);
    color: white;
    padding: 40px 20px;
    width: 90%;
    height: 15vh;
    /* Reducir altura del footer */

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        /* Alinea los elementos de arriba hacia abajo */
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        gap: 50px;
        /* Espaciado entre las secciones */
    }

    /* Asegura que los elementos estén centrados en la pantalla */
    .footer-links,
    .footer-social-icons,
    .footer-contact {
        flex: 1;
        text-align: center;
        /* Centrar el contenido de cada sección */
    }

    /* Centrar los títulos */
    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        /* Centrado del título */
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
    }

    .footer-links li {
        margin: 5px 0;
    }

    .footer-links a {
        color: white;
        font-size: 1rem;

        &:hover {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }

    .footer-social-icons {
        .social-icons {
            display: flex;
            justify-content: center;
            gap: 20px;

            i {
                font-size: 24px;
            }
        }
    }

    /* Estilos para la sección de contacto */
    .footer-contact {
        p {
            font-size: 1rem;
            color: #ccc;
        }
    }

    /* Logo al final */
    .footer-logo {
        margin-top: 20px;
        text-align: center;

        .logo {
            width: 120px;
        }
    }
}