.footer {
    background-color: var(--footer-bg);
    color: white;
    padding: 20px 0;
    /* Reducir el padding para hacer el footer más bajo */
    width: 100%;
    min-height: 20vh;
    /* Ajustar la altura mínima del footer */

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        /* Reducir el espacio entre las secciones */
    }

    .footer-links,
    .footer-social-icons,
    .footer-contact {
        flex: 1;
    }

    .footer-links {
        text-align: left;

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin: 5px 0;
        }

        a {
            color: white;
            font-size: 1rem;

            &:hover {
                color: var(--primary-color);
                text-decoration: underline;
            }
        }
    }

    .footer-social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .social-icons {
            display: flex;
            gap: 20px;

            i {
                font-size: 24px;
            }
        }
    }

    .footer-contact {
        text-align: left;

        p {
            font-size: 1rem;
            color: #ccc;
        }
    }

    /* Para la imagen del logo */
    .footer-logo {
        margin-top: 0;
        width: auto;

        .logo {
            width: 120px;
            /* Reducir el tamaño del logo */
        }
    }
}