<!-- src/app/pages/home/home.component.html -->
<div class="home-container">
    <div class="intro-section">
        <div class="profile-container">
            <div class="intro-text">
                <h1>Victor Torreblanca</h1>
                <p class="about-me">
                    Estudiante de Análisis de Sistemas | Apasionado por la tecnología y el desarrollo de software.
                    Actualmente en el 3er ciclo de mi carrera en Valle Grande, con experiencia en
                    proyectos de desarrollo web y programación.
                    Me interesa aprender nuevas tecnologías, mejorar mis habilidades en programación y contribuir a
                    proyectos innovadores.
                </p>
                <button class="get-started-button">Let's get started &gt;</button>
            </div>
            <div class="profile-picture">
                <img src="/images/fotovictor.png" alt="Your Name">
            </div>
        </div>
    </div>
    <div class="worked-with">
        <p>He trabajado con</p>
        <div class="logos">
            <img src="images/logo/angular-logo.png" alt="Angular">
            <img src="images/logo/visualestudio-logo.png" alt="visual estudio">
            <img src="images/logo/git-logo.png" alt="Git">
            <img src="images/logo/springboot-logo.png" alt="Spring Boot">
            <img src="images/logo/github-logo.png" alt="GitHub">
        </div>
    </div>
</div>